/*Action UI stylings*/
div#AuctionSell
{	/*Auction page stylings*/ 
	background: url('../images/defaultBG.jpg') no-repeat 0 0; 
	display: none;
	/*overflow:scroll;*/
	text-align: center;
	padding-top: 92px;
	z-index: 1;
	width: 900px;
	height: 600px;
	position: absolute;
}

div#AuctionSell ul
{
	margin:0;
	padding:0;
	list-style-type:none;
}
div#AuctionSell li
{
	margin:0 0 5% 0;	/*top right bottom left*/
	/*padding: 50px 50px;
	display:inline;*/
}
div#AuctionSell li label#carInfo
{
	background-color:grey;
	text-align:center;
	position:absolute;
	left:20%;
	width:60%;
	height:20%;
}
div#AuctionSell li button
{
	background: url('../images/defaultBtn.png') no-repeat 0 0;
	position:absolute;
	right: 5%;
	height:20%;
	width:15%;
	color:red;
}
div#AuctionSell li button label
{
	font-size:1.25em;
	/*font-family::;
	display:inline;
	position:absolute;*/
	text-align::center;
	color:red;
}
div#AuctionSell li img
{
	position:absolute;
	left:5%;
	width:15%;
	height:20%;
}

div#AuctionSell div#carView
{
    position:absolute;
    overflow-y:scroll;
    bottom:0%;
     left:15%;
    width:70%;
    height:60%;
}