/*repair page UI stylings*/
#CarView
{	
	background: url('../images/defaultBG.jpg') no-repeat 0 0;
	display: none;
	text-align: center;
/*	padding-top: 92px;*/
	z-index: 1;
	width: 900px;
	height: 600px;
	position: absolute;
}
div#CarView button
{	/*rule for all button in CarView div*/
	color:red;
	font-weight:bold;

	cursor:pointer;

	position:absolute;
}
#CarView img#car
{
	position:absolute;
	width:40%;
	height:40%;
	bottom:20%;
	left:30%;
}

div#CarView button#selectCarBtn
{
	top:34%;
	left:45%;
	height:5%;
}
div#CarView button#sellBtn
{
	background: url('../images/defaultBtn.png') no-repeat 0 0;

	left:5%;
	top:35%;
	width:15%;
	height:10%;
}

div#CarView button#carViewBackBtn
{
	background: url('../images/backBtn.png') no-repeat 0 0;
	
	left:5%;
	bottom:0%;
	width:10%;
	height:10%;
}

div#CarView button#homeBtn
{
	background: url('../images/homeBtn.png') no-repeat 0 0;

	right:5%;
	bottom:0%;
	width:10%;
	height:10%;
}
div#CarView label#carInfo
{
	color:black;
	background-color:grey;
	text-align:left;
	position:absolute;
	left:25%;
	bottom:0;
	width:50%;
	height:15%;
}