/*Inventory Menu Buttons and stylings*/
#gameMenu 
{
	background: url('../images/inventoryMenu.png') no-repeat 0 0;
	display: none;
	text-align: center;
	padding-top: 92px;
	z-index: 1;
	width: 900px;
	height: 600px;
	position: absolute;
	
	
}
#gameMenu  li 
{
	padding: 10px 0;
	display:inline;
	margin: 8px;
	color:red;
	margin-top: 8em;
	top: 20%;
}
#gameMenu div#menuLeft
{
	position:absolute;
	color:red;
	left:5%;
	top:40%;
}
#gameMenu img#homeImg
{
	height:20em;
	width:25em;
	bottom: 4em;
}
#gameMenu div#menuRight
{
	position:absolute;
	color:red;
	right:5%;
	top:40%;
}
#gameMenu div button
{
	background: url('../images/defaultBtn.png') no-repeat 0 0;
	color:red;
	font-weight: bold;
	width:150px;
	height:50px; 
	cursor:pointer;
}
/* Stat Bar Game HUD */

#statBar
{
	margin-top:-9em;
	margin-left:32em;
	
}


#money
{
  margin-top:-6em;
  font-family:"Kozuka Gothic Pro B";
  color: #237D07;
  font-weight: bold;
  font-size: 1.2em;
}
#tokens
{
  margin-top:-6em;
  font-family:"Kozuka Gothic Pro B";
  color: #78C40B;
  font-weight: bold;
  font-size: 1.2em;
}
#prestige
{
  margin-top:-6em;
  font-family:"Kozuka Gothic Pro B";
  color: #F17013;
  font-weight: bold;
  font-size: 1.2em;
}
#mileMarker
{
  margin-top:-6em;
  font-family:"Kozuka Gothic Pro B";
  color: #F13A1F;
  font-weight: bold;
  font-size: 1.2em;
}



/*game menu navigation buttons*/
#auction
{
	background: url('../images/auctionButton.png') no-repeat 0 0;
	color: white;
	font-weight: bold;
	font-size: 1em;
	width:150px;
	height:50px; 
	cursor:pointer;
	
}
#repair
{
	background: url('../images/repairButton.png') no-repeat 0 0;
	color:  white;
	font-weight: bold;
	width:150px;
	height:50px;
	cursor:pointer;
}
#addFunds
{
	background: url('../images/addFundsButton.png') no-repeat 0 0;
	color:  white;
	font-weight: bold;
	width:150px;
	height:50px;
	cursor:pointer;
}
#myCars
{
	background: url('../images/inventoryButton.png') no-repeat 0 0;
	color:  white;
	font-weight: bold;
	width:150px;
	height:50px;
	cursor:pointer; 
}