#Register
{
  background-image: url('../images/Splash.png');
  color: white;
  height:600px;
  width: 900px;
  z-index: 20;
  color:red;
  position:absolute;
  right: 20%;
  top:  20%;
  
}
#RegisterForm
{
	margin-right : 3em;
	left : 30%;
	bottom: 30%;
	
}
