/*repair page UI stylings*/
#RepairShop
{  
	background: url('../images/defaultBG.jpg') no-repeat 0 0;
	display: none;
	text-align: center;
	padding-top: 92px;
	z-index: 1;
	width: 900px;
	height: 600px;
	position: absolute;
}

#RepairShop li 
{	/*styles all list items of node with id RepairShop*/
	padding: 5px 0;
}

#purchaseButton
{
	background: url('../images/bidButton.png') no-repeat 0 0;
	color: white;
	font-weight: bold;
	width:150px;
	height:50px;
	cursor:pointer;
}
#repairBackButton
{
	background: url('../images/repairBackButton.png') no-repeat 0 0;
	color: white;
	font-weight: bold;
	position: absolute;
	width:150px;
	height:50px;
	left:5%;
	bottom:0%;
	cursor:pointer;
	
}
div#RepairShop div#upgrades
{
	position: absolute;
	width:15%;
	top:30%;
	height:60%;
	left:5%;
}
div#RepairShop div#repairs
{
	position: absolute;
	width:15%;
	height:40%;
	top:30%;
	right:5%;
}
div#RepairShop img#userCar
{
	position: absolute;
	width: 40%;
	height: 40%;
	left:30%;
	top:40%;
}
/*
div#RepairShop div#statBar
{
    
	background: url('../images/StatBar.png') no-repeat 0 0;
	background-size : 100%,40%;
	position:absolute;
	top:30%;
	left:6%;
	width:90%;
	height:35%;
	
	font-family:"Kozuka Gothic Pro B";
	text-align:left;
	color:white;
	/*font-weight: bold;
	z-index : 6;
	font-size:1.2em;
}
div#RepairShop  div#statBar label{
    position:absolute;
    width:25%;
}
div#statBar label#money{left:0%;top:75%;}
div#statBar label#tokens{left:25%;top:75%;}
div#statBar label#prestige{left:50%;top:75%;}
div#statBar label#m_marker{left:75%;top:75%;}
}*/