#this is a system resource file, used by the apache server(or xampp)

#disable external directory browsing,
#resource folders like audio, images, or css should not
#be viewable in a user's browser
#still enables the site to access folders/files within itself
Options -Indexes

RewriteEngine on

RewriteRule ^pas/query$     pas/query.php [NC]
#RewriteRule ^pas/get$       pas/get.php [NC]
#RewriteRule ^pas/update$     pas/update.php [NC]
#
#scripts in pas (generally) only take a single argument,
#being a 2-8 letter identifier representing
#a change in functional behaviour of the script,
#other arguments may be passed through $_POST
RewriteRule ^pas/query/([[:alpha:]]{1,8})?$     pas/query.php?op=$1 [NC]
RewriteRule ^pas/get/([[:alpha:]]{1,8})?$     pas/get.php?op=$1 [NC]
RewriteRule ^pas/update/([[:alpha:]]{1,8})?$     pas/update.php?op=$1 [NC]
#
#Rewrite url for PAYPAL store interface
#
RewriteRule ^store-cash-(50|200|500|1000)?$     store.php?op=cash?val=$1 [NC]
#RewriteRule ^store-tokens-(3|5|10|20)?$     store.php?op=tokens?val=$1 [NC]

#Prevent users not originating from this site from POSTing to script
#allows jquery javascript originating from this source to work
#RewriteCond %{REQUEST_METHOD} POST
#RewriteCond %{HTTP_REFERER} !^http://urltoyoursite.com [NC]
#RewriteRule .* - [F]

#Caching behaviour is set by default, changing doesn't seem
#to have a huge influence
#Cache all static file resources(images, audio, etc)
#once a day, decreasing bandwidth consumed by navigating pages
#<FilesMatch "\.(jpg|jpeg|png|gif|mp3|mp4)$">
    #Header set Cache-Control "max-age=7200"
#</FilesMatch>
#dynamic
#<FilesMatch "\.(js|css)$">
    #SetOutputFilter DEFLATE
    #Header set Cache-Control "max-age=7200"
#</FilesMatch>

#
#Common user agents associated with hostile bots
#
#RewriteCond %{HTTP_USER_AGENT} ADSARobot|ah-ha|almaden|Anarchie|amzn_assoc|ASPSeek|ASSORT|ATHENS|Atomz|attach|attache|autoemailspider [OR]
#RewriteCond %{HTTP_USER_AGENT} BackWeb|Bandit|BatchFTP|bdfetch|big.brother|BlackWidow|bmclient|Boston\ Project|BravoBrian\ SpiderEngine\ MarcoPoloBot\ mailto:craftbot@yahoo.com|Buddy|bumblebee [OR]
#RewriteCond %{HTTP_USER_AGENT} capture|CherryPicker|ChinaClaw|CICC|Collector|Copier|Crescent|Crescent\ Internet\ ToolPak|Custo|cyberalert [OR]
#RewriteCond %{HTTP_USER_AGENT} DA$|Deweb|diagem|Digger|Digimarc|DIIbot|DISCo|DISCo\ Pump|DISCoFinder|Download\ Demon|Download\ Wonder|Downloader|Drip|DSurf15a|DTS.Agent [OR]
#RewriteCond %{HTTP_USER_AGENT} eCatch|EasyDL/2.99|EirGrabber [OR]
#RewriteCond %{HTTP_USER_AGENT} email [NC,OR]
#RewriteCond %{HTTP_USER_AGENT} EmailCollector|EmailSiphon|EmailWolf|Express\ WebPictures|ExtractorPro|EyeNetIE [OR]
#RewriteCond %{HTTP_USER_AGENT} FileHound|FlashGet|FrontPage [OR]
#RewriteCond %{HTTP_USER_AGENT} GetRight|GetSmart|GetWeb!|gigabaz|Go\!Zilla|Go!Zilla|Go-Ahead-Got-It|gotit|Grabber|GrabNet|Grafula|grub-client [OR]
#RewriteCond %{HTTP_USER_AGENT} HMView|HTTrack|httpdown [OR]
#RewriteCond %{HTTP_USER_AGENT} .*httrack.* [NC,OR]
#RewriteCond %{HTTP_USER_AGENT} ia_archiver|Image\ Stripper|Image\ Sucker|Indy*Library|Indy\ Library [NC,OR]
#RewriteCond %{HTTP_USER_AGENT} InterGET|InternetLinkagent|Internet\ Ninja|InternetSeer.com|Iria [OR]
#RewriteCond %{HTTP_USER_AGENT} JBH*agent|JetCar|JOC\ Web\ Spider|JustView [OR]
#RewriteCond %{HTTP_USER_AGENT} larbin|LeechFTP|LexiBot|lftp|Link*Sleuth|likse|Link|LinkWalker [OR]
#RewriteCond %{HTTP_USER_AGENT} Mag-Net|Magnet|Mass\ Downloader|Memo|Microsoft.URL|MIDown\ tool|Mirror|Mister\ PiX|Mozilla.*Indy|Mozilla.*NEWT|Mozilla*MSIECrawler|MS\ FrontPage*|MSFrontPage|MSIECrawler|MSProxy [OR]
#RewriteCond %{HTTP_USER_AGENT} Navroad|NearSite|NetAnts|NetMechanic|NetSpider|Net\ Vampire|NetZIP|NICErsPRO|Ninja [OR]
#RewriteCond %{HTTP_USER_AGENT} Octopus|Offline\ Explorer|Offline\ Navigator|Openfind [OR]
#RewriteCond %{HTTP_USER_AGENT} PageGrabber|Papa\ Foto|pavuk|pcBrowser|Ping|PingALink|Pockey|psbot|Pump [OR]
#RewriteCond %{HTTP_USER_AGENT} QRVA [OR]
#RewriteCond %{HTTP_USER_AGENT} RealDownload|Reaper|Recorder|ReGet [OR]
#RewriteCond %{HTTP_USER_AGENT} Scooter|Seeker|Siphon|sitecheck.internetseer.com|SiteSnagger|SlySearch|SmartDownload|Snake|SpaceBison|sproose|Stripper|Sucker|SuperBot|SuperHTTP|Surfbot|Szukacz [OR]
#RewriteCond %{HTTP_USER_AGENT} tAkeOut|Teleport\ Pro [OR]
#RewriteCond %{HTTP_USER_AGENT} URLSpiderPro [OR]
#RewriteCond %{HTTP_USER_AGENT} Vacuum|VoidEYE [OR]
#RewriteCond %{HTTP_USER_AGENT} Web\ Image\ Collector|Web\ Sucker|WebAuto|[Ww]eb[Bb]andit|webcollage|WebCopier|Web\ Downloader|WebEMailExtrac.*|WebFetch|WebGo\ IS|WebHook|WebLeacher|WebMiner|WebMirror|WebReaper|WebSauger|Website|Website\ eXtractor|Website\ Quester|Webster|WebStripper|WebWhacker|WebZIP|Wget|Whacker|Widow|WWWOFFLE [OR]
#RewriteCond %{HTTP_USER_AGENT} x-Tractor|Xaldon\ WebSpider|Xenu [OR]
#RewriteCond %{HTTP_USER_AGENT} Zeus.*Webster|Zeus
#RewriteRule ^.* - [F,L]