vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Jan 2015 20:40:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|BetaAO/index.html
vti_author:SR|ALEXS\\TzL
vti_modifiedby:SR|ALEXS\\TzL
vti_timecreated:TR|09 Dec 2014 20:14:37 -0000
vti_cacheddtm:TX|05 Jan 2015 20:40:22 -0000
vti_filesize:IR|1177
vti_cachedlinkinfo:VX|S|../images/defaultBG.jpg S|../images/defaultBtn.png
vti_cachedsvcrellinks:VX|FSUS|AGTStyled/images/defaultBG.jpg FSUS|AGTStyled/images/defaultBtn.png
